<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict><key>method</key><string>app-store-connect</string><key>signingStyle</key><string>manual</string><key>teamID</key><string>9Q26686S8R</string><key>provisioningProfiles</key><dict><key>com.wjbapps.weatheroutfit</key><string>Weather Outfit AppStore 2026</string></dict><key>uploadSymbols</key><true/></dict></plist>
